{% extends 'vote/base.html' %}

{% block content %}

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form method="get" action={% url 'constituency_chosen' %}>
        <label for="constituency">Select a constituency to view results for</label>
        <select id="constituency" name="constituency">
            <option value="">Choose a constituency</option>
            {% for constituency in constituencies %}
                <option value="{{ constituency.id }}">{{ constituency }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select constituency" />
    </form>

{% endblock %}